
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
  background-color: #a5a2a2;
  color: black;
  font-size: 16px;
}

.navbar {
  position: fixed;
  display: flex;
  justify-self: end;
  margin: 1rem;
  flex-direction: column;
  left: 0;
  right: 0;
  top: 0;
}

nav .menu {
  display: flex;
  flex-direction: row;
  justify-self: end;
  font-size: large;
}

nav .menu li {
  margin: 0 10px;
  list-style: none;
  color: black;
}

.container {
  margin: 70 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.container .error {
  color: red;
  font-size: small;
}
.container .success {
  color: green;
  font-size: large;
}

.container .page {
 margin: 10px;
}

.vehicleForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.418);
  padding: 5vh 10vw;

}

.vehicleForm form div{
  margin: 10px;
  font-size: large;
}

.vehicleForm form button{
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.vehicleForm form .tittle {
  margin-bottom: 2vh;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

.hamburgerMenu {
  display: none;
  border: none;
  background-color: transparent;
}

@media (max-width: 600px) {
  .hamburgerMenu {
    display: block;
  }
  .hamburgerMenu div {
    width: 7vh;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    
  }
  .navbar .menu li {
    display: none;
  }
}