
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
  background-color: #a5a2a2;
  color: black;
  font-size: 16px;
}

.navbar {
  position: fixed;
  display: flex;
  justify-self: end;
  flex-direction: column;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav .menu {
  display: flex;
  flex-direction: row;
  justify-self: end;
  font-size: large;
  z-index: 1000;
}

nav .menu li {
  margin: 0 10px;
  list-style: none;
  color: black;
  z-index: 1000;
}
nav .menu li a {
  text-decoration: none;
  color: black;
}

nav .menu li a:hover {
  color: white;
  background-color: black;
}
.container {
  margin: 70 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.container .error {
  color: red;
  font-size: small;
}
.container .success {
  color: green;
  font-size: large;
}

.container .page {
 margin: 10px;
}

.vehicleForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.418);
  padding: 5vh 10vw;

}

.vehicleForm form div{
  margin: 10px;
  font-size: large;
}

.vehicleForm form button{
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.vehicleForm form .tittle {
  margin-bottom: 2vh;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

.hamburgerMenu {
  display: none;
  border: none;
  background-color: transparent;
}

.vehicle-grid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}



 h1 {
 position: sticky;
  top: 0;
  left: 0;
  color: white;
  background-color: black;
  margin: 20 10;
  padding: 10px;
  z-index: 1;
}
.searchDiv {
  display: inline-flex;
  align-items: center;
  margin-left: 20px;
}
.addBtnVehicle{
  background-color: white;
  display: inline-flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  padding: 1px 15px;
  border-radius: 20px;
}

.addBtnVehicle:hover{
  background-color: black;
  color: white;
}


.addIcon{
  background-color: white;
  color: blue;
  padding: 3px 7px;
  border-radius: 50%;
  border: 1px solid black;  
}

.vehicle-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 15rem;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  height: max-content;
}
.vehicle-card img {
  width: 100%;
  height: 50%;
  border-radius: 5px;
  min-height: 152px;
}

.btndev {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.btndev button {
  padding: 5px 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.btndev button:hover{
  background-color: black;
}
.btndev .delete {
  background-color: #dc3545;
}
.vehicle-card h2 {
  font-size: 1.2rem;
  margin: 10px 0;
  text-align: center;
}
.vehicle-card p span {
  font-size: x-small;
  color: #555;
}

.vehicle-details {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  margin: auto;
}

.vehicle-details img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .hamburgerMenu {
    display: block;
  }
  .hamburgerMenu div {
    width: 7vh;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    
  }
  .navbar .menu li {
    display: none;
  }
}